{% extends "base_index.html" %}

{% block content %}
  <h1>Electronic Health Records (EHR) System</h1>
  <h1>MediTrack: Modernizing Patient Care Through Digital Records</h1>
  <hr>
    <img src="/static/images/images.jpg" alt="Healthcare Image" class="page-image" style="width: 600px; height: 300px;">
    <hr>
    <a href="/index1" style="background-color: yellow; color: black; padding: 10px 20px; border: none; cursor: pointer; margin: 5px; text-decoration: none; display: inline-block;">1-Text</a>
    <a href="/index2" style="background-color: yellow; color: black; padding: 10px 20px; border: none; cursor: pointer; margin: 5px; text-decoration: none; display: inline-block;">2-Text Indic</a>
    <a href="/index3" style="background-color: yellow; color: black; padding: 10px 20px; border: none; cursor: pointer; margin: 5px; text-decoration: none; display: inline-block;">3-Voice</a>
    <a href="/index4" style="background-color: yellow; color: black; padding: 10px 20px; border: none; cursor: pointer; margin: 5px; text-decoration: none; display: inline-block;">4-Voice Indic</a>
    <a href="/index5" style="background-color: yellow; color: black; padding: 10px 20px; border: none; cursor: pointer; margin: 5px; text-decoration: none; display: inline-block;">5-Image</a>
    <a href="/index6" style="background-color: yellow; color: black; padding: 10px 20px; border: none; cursor: pointer; margin: 5px; text-decoration: none; display: inline-block;">6-Combination of all 3</a>
    <a href="/index7" style="background-color: yellow; color: black; padding: 10px 20px; border: none; cursor: pointer; margin: 5px; text-decoration: none; display: inline-block;">7-View Records</a>
    <a href="/index8" style="background-color: yellow; color: black; padding: 10px 20px; border: none; cursor: pointer; margin: 5px; text-decoration: none; display: inline-block;">8-Data Visualization Dashboard</a>
    
    
    
{% endblock content %}